*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card-type{
    color: white;
}

.card-user{
    color: white;
}

.card-text{
    color: white;
}

.card{
    border-style: solid;
    padding-top: 5%;
}


.btn-primary{
    background-color: rgb(24, 71, 133);
    border-style: solid;
    border-color: rgb(0, 0, 0);
    padding-inline-start: 5%; 
    padding-inline-end: 5%;
}
