* {
    font-family: 'Poppins', sans-serif;
}

.search-form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    font-size: large;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    border-radius: 10px;
    padding: 25px;
}

h1 {
    color: rgba(0,0,0,.87);
    background-color: white;
    max-width: 600px;
    margin: 0 auto;
    padding: 18px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}

label {
    display: block;
}

select {
    cursor: pointer;
}

button {
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}